@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    // This is the home page for the Joel Hilton Film Collection, which is a collection of movies that Joel has curated.
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <div class="align-content-center">
        <img src="~/joelhiltonheadshot.jpg" />
    </div>
</div>
